<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../public/css/cardsstyle.css">
  <link rel="stylesheet" href="../public/css/post.css">
  <link rel="shortcut icon" href="../public/img/favicon.svg" type="image/x-icon">
  <title>Sventv</title>
</head>
<body>

  <header>
    <div class="logo">
      <a href="/"><img src="../public/img/logo.svg" alt=""></a>
    </div>
  </header>

  <main class="containe-iframe">
    <% filmes.forEach(filme => { %>
      <iframe src="<%= filme.link %>" scrolling=no allow="encrypted-media" title="<%= filme.title %>" allowFullScreen></iframe>
    <% }); %>
  </main>

  <script src="../public/js/script.js"></script>
</body>
</html>